<!-- Main -->
<div class="flex grow flex-col px-4 sm:px-6 h-full w-full">
    <div class="flex justify-start items-center gap-2 pt-2 md:hidden">
        <!-- Drawer toggle -->
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="text-3xl font-extrabold tracking-tight">Les problèmes</div>
    </div>
    <div class="flex justify-between py-2">
        <div class="flex flex-col justify-end">
            <div class="text-4xl font-extrabold tracking-tight hidden md:block">Les problèmes</div>
            <div class="flex">
                <button (click)="openProblemDialog()" mat-button><mat-icon>add_circle</mat-icon>Ajouter</button>
                <button *ngIf="selectedProblems?.length" (click)="deleteProblems()" mat-button>
                    <mat-icon>delete</mat-icon>Supprimer
                </button>
            </div>
        </div>
        <form class="flex flex-row justify-end md:justify-stretch" [formGroup]="filtersForm">
            <mat-form-field [subscriptSizing]="'dynamic'" class="mx-2 min-w-40 md:mt-6">
                <input type="search" formControlName="keyword" placeholder="Rechercher..." matInput>
                <mat-icon aria-hidden="false" fontIcon="search" matSuffix></mat-icon>
            </mat-form-field>
        </form>
    </div>
    <div class="py-4 grow min-h-0">
        <mat-sidenav-container class="flex w-full h-full gap-4" autosize>
            <mat-sidenav #drawer [opened]="true" [mode]="'side'"
                class="w-full md:min-w-72 max-w-full md:max-w-sm dark:bg-gray-900 h-full bg-transparent px-4">
                <div class="dark:bg-gray-900 w-full h-full bg-white overflow-hidden">
                    <div class="flex flex-col h-full">

                        <!-- Close button -->
                        <div class="flex w-full lg:hidden justify-end">
                            <button mat-icon-button (click)="drawer.close()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <!-- Header -->
                        <div class="flex items-center justify-between mx-2 my-4">
                            <!-- Title -->
                            <div class="text-2xl md:text-3xl font-extrabold tracking-tight leading-none">Catégories
                            </div>
                        </div>
                        <app-tree class="min-h-0 grow" [selectedNodes]="selectedNodes"
                            [treeService]="problemTreeService"></app-tree>
                    </div>
                </div>

            </mat-sidenav>
            <mat-sidenav-content class="flex grow">
                <div class="p-4 flex grow w-full h-full">
                    <ngx-datatable class="material grow" [rows]="problems$ | async" [rowIdentity]="getId"
                        [columnMode]="ColumnMode.standard" [selectionType]="SelectionType.checkbox"
                        [selectAllRowsOnPage]="true" [selected]="selectedProblems" [headerHeight]="50"
                        [scrollbarV]="true" [footerHeight]="60" [rowHeight]="70" (activate)="onActivate($event)"
                        appColumnMode>
                        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true"
                            [frozenLeft]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Nom" prop="name" [minWidth]="96" [flexGrow]="1">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <a class="h-4 min-h-4 px-2 items-start" (click)="openProblemDialog(row)"
                                    mat-button>{{value}}
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Description" prop="description" [minWidth]="96"
                            [flexGrow]="1"></ngx-datatable-column>
                        <ngx-datatable-column name="Sous catégorie / Catégorie" prop="name" [minWidth]="96"
                            [flexGrow]="1">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <ng-container *ngIf="row.problemCategory?.id">
                                    <div class="h-[50px] flex min-h-4 px-2 items-center">
                                        <ng-container *ngIf="row.problemCategory?.problemCatalog?.id">
                                            <span
                                                class="h-4 min-h-4 px-2 items-start">{{row?.problemCategory?.problemCatalog?.name}}
                                                /
                                            </span>

                                        </ng-container>
                                        <span class="h-4 min-h-4 px-2 items-start">{{row?.problemCategory?.name}}
                                        </span>
                                    </div>
                                </ng-container>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column headerClass="h-full" cellClass="p-1" [flexGrow]="0" [sortable]="false"
                            [draggable]="false" [resizeable]="false" [width]="58" [minWidth]="58" [frozenRight]="true"
                            [canAutoResize]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a mat-icon-button [matMenuTriggerFor]="contextMenu" (menuClosed)="(true)"
                                    aria-label="actions" [matMenuTriggerData]="{problem: row}">
                                    <mat-icon>more_vert</mat-icon>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>

            </mat-sidenav-content>

        </mat-sidenav-container>
    </div>

</div>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-problem="problem">
        <button (click)="openProblemDialog(problem)" mat-menu-item>Modifier</button>
        <button (click)="deleteProblem(problem?.id)" mat-menu-item>Supprimer</button>
    </ng-template>
</mat-menu>