<div class="flex flex-col justify-between h-full w-full">
    <div class="flex grow w-full overflow-auto">
        <mat-tree class="grow m-2" #tree [dataSource]="nodes | async" [childrenAccessor]="childrenAccessor"
            [expansionKey]="expansionKeyFn">
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle
                [cdkTreeNodeTypeaheadLabel]="node.name" [isExpandable]="node?.children?.length"
                class="flex flex-col items-center w-full">
                <div class="flex w-full">
                    <button *ngIf="node?.children?.length; else noChildren" mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <ng-template #noChildren>
                        <button mat-icon-button disabled></button>
                    </ng-template>
                    <div class="flex grow justify-between items-center gap-2">
                        <mat-checkbox [checked]="descendantsAllSelected(node)"
                            [indeterminate]="descendantsPartiallySelected(node)" labelPosition="before"
                            (change)="todoItemSelectionToggle(node)"
                            (click)="stopPropagation($event)">{{node.name}}</mat-checkbox>
                        <a mat-icon-button [matMenuTriggerFor]="contextMenu" (click)="stopPropagation($event)"
                            (menuClosed)="(true)" aria-label="actions" [matMenuTriggerData]="{node: node}">
                            <mat-icon>more_vert</mat-icon>
                        </a>
                    </div>
                </div>
                <mat-divider class="w-full"></mat-divider>
            </mat-tree-node>
        </mat-tree>
    </div>
    <div class="flex justify-end items-center w-full">
        <button (click)="openNode(NodeLevel.Catalog)" mat-button>Ajouter Catégorie</button>
    </div>

</div>


<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-node="node">
        <button *ngIf="node.nodeLevel === NodeLevel.Category" (click)="openNode(NodeLevel.Node, undefined, node.id)"
            mat-menu-item>Ajouter</button>
        <button *ngIf="node.nodeLevel === NodeLevel.Catalog" (click)="openNode(NodeLevel.Category, undefined, node.id)"
            mat-menu-item>Ajouter sous
            catégorie</button>
        <button (click)="openNode(node.nodeLevel, node)" mat-menu-item>Modifier</button>

        <button (click)="deleteNode(node.id, node.nodeLevel)" mat-menu-item>Supprimer</button>
    </ng-template>
</mat-menu>