/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use '@angular/material' as mat;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
    @include mat.tree-overrides((container-background-color: transparent,
        ));
    @include mat.sidenav-overrides((
        container-background-color: transparent,
        content-background-color: transparent,

        ));
}

.datatable-body-cell
{
   display: flex !important;
   align-items: center !important;
}